:root {
	--background-color: #2F3437;
	--text-color: #F7FFF7;
	--main-color: #640D14;

	--general-margin: 16%;
	--hero-font: 'Lobster', cursive;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--text-color);
	margin: 0;
	background-color: var(--background-color);
}
