---

---

<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/games">Games</a></li>
            <li class="contact"><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<style>

    header {
        width: 100%;
        font-family: 'Lato';
        font-size: 1.5rem;
        background-color: var(--bg-dark);
    }

    nav {
        height: 60px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 18vw;
    }

    ul {
        display: flex;
        justify-content: end;
        gap: 6vw;
        list-style: none;
        margin: 0;
    }

    a {
        color: var(--color-white);
        text-decoration: none;
        transition: all 0.4s ease 0s;
    }

    a:hover {
        color: var(--color-2);
    }

    @media (max-width: 767px) {
        .contact {
            display: none;
        }

        nav {
            padding: 0 10vw;
        }
    }

    @media (max-width: 359px) {
        .contact {
            display: none;
        }

        nav {
            height: 100px;
            flex-direction: column;
            padding: 16px 0;
        }

        ul {
            padding: 0;
        }
    }

</style>