---
import CardBackground from "../vectors/CardBackground.astro";
---

<div>
    <CardBackground width="100%" height="auto" color="var(--bg-dark)"/>
    <div class="card-container">
        
    </div>
</div>

<style>

</style>