<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio website of Altuğ Alpcan Yaşar."/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.png">
		<link rel="preload" as="font" href="/fonts/Roboto-Regular.woff2" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" as="font" href="/fonts/Roboto-Bold.woff2" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" as="font" href="/fonts/Lato-Regular.woff2" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" as="font" href="/fonts/Lobster-Regular.woff2" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" as="font" href="/fonts/IBMPlexSans-Regular.woff2" type="font/woff2" crossorigin="anonymous">
		<title>Altuğ Alpcan Yaşar</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
	}

</style>
