:root {
    --bg-color: #1A1A1D;
    --bg-dark: rgba(0, 0, 0, 0.3);
    --bg-light: rgba(255, 255, 255, 0.06);
    --bg-darker: rgba(0, 0, 0, 0.5);
	--bg-dark-def: #121315;

    --color-1: #C3073F;
    --color-2: #950740;

    --color-whitey: #F2E6E8;
    --color-white: #FEFEFE;
    --color-black: #000000;
    --color-gray: #4E4E50;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff2') format('woff2');
	unicode-range: U+0000-024F;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('/fonts/Roboto-Bold.woff2') format('woff2');
	unicode-range: U+0000-024F;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.woff2') format('woff2');
	unicode-range: U+0000-024F;
}

@font-face {
    font-family: 'Lobster';
    src: url('/fonts/Lobster-Regular.woff2') format('woff2');
	unicode-range: U+0000-024F;
}

@font-face {
    font-family: 'IBM';
    src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
	unicode-range: U+0000-024F;
}

@font-face {
	font-family: 'Bungee';
	src: url('/fonts/Bungee-Regular.woff2') format('woff2');
	unicode-range: U+0000-024F;
}

@font-face {
	font-family: 'Azonix';
	src: url('/fonts/Azonix.woff2') format('woff2');
	unicode-range: U+0000-024F;
}

@font-face {
	font-family: 'Play';
	src: url('/fonts/Play-Bold.woff2') format('woff2');
	unicode-range: U+0000-024F;
}

@font-face {
	font-family: 'Osaka-Sans';
	src: url('/fonts/osaka-re.woff2') format('woff2');
	unicode-range: U+0000-024F;
}

html {
    color-scheme: dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
svg {
    max-width: 100%;
    display: block;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}
