:root {
    --bg-color: #1A1A1D;
    --bg-dark: rgba(0, 0, 0, 0.3);
    --bg-light: rgba(255, 255, 255, 0.06);
    --bg-darker: rgba(0, 0, 0, 0.5);

    --color-1: #C3073F;
    --color-2: #950740;

    --color-whitey: #F2E6E8;
    --color-white: #FEFEFE;
    --color-black: #000000;
    --color-gray: #4E4E50;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('/public/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'LaoMuangDon';
    src: url('/public/fonts/LaoMuangDon-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('/public/fonts/Lobster-Regular.ttf') format('truetype');
}

html {
    color-scheme: dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
svg {
    max-width: 100%;
    display: block;
}